<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="width: 15%">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree> -->


<div>

      <mat-grid-list   mat-grid-list cols="3" rowHeight="2:1" style="width: 30%" 
      *ngFor="let equipo of equipoPC">

              <mat-card style="width: 30%">
                  <label>
                      {{ equipo.TipoComputadora }}
                  </label>
                    </mat-card>
        </mat-grid-list>
</div>