<mat-card style="text-align: justify">
  <mat-card-content style="text-align: justify">
    <div class="container" style="height: 400px">
      <div class="row">
        <div class="col">
            <img [src]="DescripcionEquipo.ImagenPrincipal" style="height:90%; width:80%">
        </div>
        <div class="row">
          <div class="container" style="width: 350px;">
            <mat-card>
              <mat-card-content>
            <div class="row">
                <div class="col-11" style="text-align:justify">
                    <b>{{DescripcionEquipo.NombreDescripcion}}</b>
                </div>
            </div>
            <div class="row">
                <img src="assets/Imagenes/EstrellasDescripcion.jpg">
            </div>
            <div class="row">
              {{DescripcionEquipo.Precio | currency: 'USD' | lowercase}}
            </div>
            <div class="row">
               <h1 style="color: red">{{DescripcionEquipo.Preciorebaja | currency: 'USD' | lowercase}}</h1>
              </div>
              <div class="row" style="text-align:end">
              Color:  <h4>{{DescripcionEquipo.Color}}</h4>
              </div>
            </mat-card-content>
          </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <mat-card>
                <mat-card-content>
            <div class="container" style="width: 300px;">
            <div class="row">
                <div class="col-11">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
                  <mat-expansion-panel-header style="text-align: left; font-size: 13px;font-weight: bold">
                    <mat-panel-title>Fecha estimada de entrega:</mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-card>
                    <mat-card-content style="text-align: left">
                      <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Entrega a domicilio</mat-radio-button>
                        <mat-radio-button value="2">Click & Collect</mat-radio-button>
                      </mat-radio-group>
                    </mat-card-content>
                  </mat-card>
                </mat-expansion-panel>
              </div>
            </div>
            <br>
            <div class="row">
              <label style="color: #666; font-size: 14px">Cantidad:</label>
            </div>
            <div class="row">                  
              <input min="1" size="1" maxlength="3" type="number" value="1" style="width: 40px">
              <button mat-button style="text-align: center; 
              background-color: purple" color="warn">Agregar a Mi bolsa</button>
            </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</mat-card-content>
</mat-card>
<div style="width: 10%; height: 10%"></div>

<mat-card style="text-align: center">
    <mat-expansion-panel (opened)="panelOpenDescription = true"
    (closed)="panelOpenDescription = false">
    <mat-expansion-panel-header style="text-align: left; font-size: 13px;font-weight: bold">
      <mat-panel-title>Características</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <div class="container" style="width: 100%">
          <div class="row">
            <div style="width: 40%; font-size: 14px; text-align: left">
              <b><label style="font: 16px">Procesador: </label></b>
              <span style="background: #fff; padding: 7px; width: 57%;"> </span>
              <label style="text-align:left;font: 16px">{{DescripcionEquipo.Procesador}}</label>
            </div>
            <div style="width: 40%; font-size: 14px; text-align: left">
              <b><label style="font: 16px">Marca del procesador: </label></b>
              <span style="background: #fff; padding: 7px; width: 57%;"> </span>
        <label style="text-align:left;font: 16px">{{DescripcionEquipo.Procesador}}</label>
    </div>
  </div>
  <div class="row">
    <div style="width: 40%; font-size: 14px; text-align: left">
      <b><label style="font: 16px">Resolución: </label></b>
      <span style="background: #fff; padding: 7px; width: 57%;"> </span>
      <label style="text-align:left;font: 16px">{{DescripcionEquipo.Resolucion}}</label>
    </div>
    <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Memoria ram: </label></b>
        <span style="background: #fff; padding: 7px; width: 57%;"> </span>
        <label style="text-align:left;font: 16px">{{DescripcionEquipo.MemoriaRam}}</label>
    </div>
  </div>

  <div class="row">
    <div style="width: 40%; font-size: 14px; text-align: left">
      <b><label style="font: 16px">Dimensiones: </label></b>
      <span style="background: #fff; padding: 7px; width: 57%;"> </span>
      <label style="text-align:left;font: 16px">{{DescripcionEquipo.Dimensiones}}</label>
    </div>
  <div style="width: 40%; font-size: 14px; text-align: left">
      <b><label style="font: 16px">Modelo del Procesador: </label></b>
      <span style="background: #fff; padding: 7px; width: 57%;"> </span>
      <label style="text-align:left;font: 16px">{{DescripcionEquipo.ModeloProcesador}}</label>
  </div>
  </div>

  <div class="row">
    <div style="width: 40%; font-size: 14px; text-align: left">
      <b><label style="font: 16px">Cámara Web: </label></b>
        <span style="background: #fff; padding: 7px; width: 57%;"> </span>
        <label style="text-align:left;font: 16px">{{DescripcionEquipo.CamaraWeb}}</label>
    </div>
    <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Número de Puertos USB 3.0: </label></b>
        <span style="background: #fff; padding: 7px; width: 57%;"> </span>
        <label style="text-align:left;font: 16px">{{DescripcionEquipo.Puertos3}}</label>
    </div>
  </div>


  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Peso: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Peso}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Puerto HDMI: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Puerto_HDMI}}</label>
      </div>
    </div>

    
  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Incluye: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Incluye}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Puertos: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Puertos}}</label>
      </div>
    </div>

    
  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Bluetooth: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Bluetooth}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Sistema operativo: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.SistemaOperativo}}</label>
      </div>
    </div>

    
  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Cache de la Memoria RAM: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.MemoriaRam}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Sonido: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Sonido}}</label>
      </div>
    </div>

    
  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Capacidad de Memoria Gráfica : </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.CapcMemoriaGrafica}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Tamaño de la Pantalla: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Tamano_pantalla}}</label>
      </div>
    </div>

    
  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Capacidad del Disco Duro: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Capacidad_Disco_Duro}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Tarjeta gráficos: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.TarjetaGraficos}}</label>
      </div>
    </div>

    
  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Color: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Color}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Producto: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.Producto}}</label>
      </div>
    </div>

    
  <div class="row">
      <div style="width: 40%; font-size: 14px; text-align: left">
        <b><label style="font: 16px">Tipo de computadora: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.TipoComputadora}}</label>
      </div>
      <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Tipo de Sonido: </label></b>
          <span style="background: #fff; padding: 7px; width: 57%;"> </span>
          <label style="text-align:left;font: 16px">{{DescripcionEquipo.TipoSonido}}</label>
      </div>
    </div>

    
    <div class="row">
        <div style="width: 40%; font-size: 14px; text-align: left">
          <b><label style="font: 16px">Dimensiones con Empaque: </label></b>
            <span style="background: #fff; padding: 7px; width: 57%;"> </span>
            <label style="text-align:left;font: 16px">{{DescripcionEquipo.Dimensiones_Empaque}}</label>
        </div>
        <div style="width: 40%; font-size: 14px; text-align: left">
            <b><label style="font: 16px">Track Pad: </label></b>
            <span style="background: #fff; padding: 7px; width: 57%;"> </span>
            <label style="text-align:left;font: 16px">{{DescripcionEquipo.TrackPad}}</label>
        </div>
      </div>

      
      <div class="row">
          <div style="width: 40%; font-size: 14px; text-align: left">
            <b><label style="font: 16px">Duración de Batería: </label></b>
              <span style="background: #fff; padding: 7px; width: 57%;"> </span>
              <label style="text-align:left;font: 16px">{{DescripcionEquipo.DuracionBateria}}</label>
          </div>
          <div style="width: 40%; font-size: 14px; text-align: left">
              <b><label style="font: 16px">Velocidad del Procesador: </label></b>
              <span style="background: #fff; padding: 7px; width: 57%;"> </span>
              <label style="text-align:left;font: 16px">{{DescripcionEquipo.VelocidadProcesador}}</label>
          </div>
        </div>

        
        <div class="row">
            <div style="width: 40%; font-size: 14px; text-align: left">
              <b><label style="font: 16px">Submarca: </label></b>
                <span style="background: #fff; padding: 7px; width: 57%;"> </span>
                <label style="text-align:left;font: 16px">{{DescripcionEquipo.Submarca}}</label>
            </div>
            <div style="width: 40%; font-size: 14px; text-align: left">
                
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-card>