<main>
<div class="container">
    <div class="row">
      <div style="height: 20px"></div>
      </div>
  <div class="row">
    <div class="col-2">
        <h3>Filtros</h3>
        <div>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>
        </div>
    </div>
    <div class="col-10">
        <mat-grid-list   mat-grid-list cols="3" rowHeight="5:4" style="width: 100%">
            <mat-grid-tile *ngFor="let equipo of ListaEquipo">
              <mat-card style="text-align: center; width: 55%">
                <button (click)="DescripcionEquipo(equipo)" 
                mat-flat-button style="background-color: white; width: 100%; height: 100%">
                <img [src]="equipo.ImagenPrincipal" 
                mat-card-image style="width: 100%; height: 100%">
              </button>
              <mat-card-subtitle style="text-align: left">
                <a [routerLink]="['./equipo/descripcion',equipo.id] " (click)="DescripcionEquipo(equipo)">
                  <b>{{ equipo.NombreDescripcion }}</b></a>
                </mat-card-subtitle>
                <label>{{ equipo.Preciorebaja | currency: 'USD' | lowercase }}</label>
                <mat-card-subtitle style="text-align: left">
                  <label style="color: red">
                    <b>{{ equipo.Precio | currency: 'USD' | lowercase }}</b>
                  </label>
                </mat-card-subtitle>
                <br>
                <mat-card-content style="text-align: right">
                  <img  src="assets/Imagenes/Estrellas.jpg"  />
                </mat-card-content>
                <br>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
  </div>
</div>


    </main>